<div class="header">
    <div class="text-box">
        <h1>About US</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="content">
                <h1>We are the World <span style="color: red;"> Largest University</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum modi officiis pariatur dolor
                    asperiores Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, odit? Ad excepturi vel
                    porro accusantium facilis eaque labore perferendis libero architecto, tempore optio. Possimus, odit? Ad excepturi vel
                    porro accusantium facilis eaque labore perferendis libero architecto, tempore optio. Quis earum modi officiis pariatu</p>
                   <br> <a href="" class="btn">Visit Us to Know More</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="img1"></div>
        </div>
    </div>
    
</div>
