<div class="header">
    <div class="text-box">
        <h1>Our Courses</h1>
    </div>
</div>

     <!----------Course-Section ---------->

     <div class="section1">
        <h1>Course We Offers</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>

     <div class="container c1">
     
          <div class="row box">

              <div class="box1 col-lg-4 col-md-12">
                  <h1>Intermidiate</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, doloremque porro voluptate
                      repudiandae unde voluptates. Asperiores voluptates doloribus est culpa!</p>
              </div>
              <div class="box1 col-lg-4 col-md-12">
                  <h1>Degree</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, doloremque porro voluptate
                      repudiandae unde voluptates. Asperiores voluptates doloribus est culpa!</p>
              </div>
              <div class="box1 col-lg-4 col-md-12">
                  <h1>Post Graduation</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, doloremque porro voluptate
                      repudiandae unde voluptates. Asperiores voluptates doloribus est culpa!</p>
              </div>
         
      </div>
        
    </div> 

 
