<div class="container">
    <div class="row">
        <div class="col">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non quibusdam neque
                <br> iure illum consectetur possimusculpa inventore
            </p>
        
            <div class="social-links">
                <i class="fa fa-facebook-official"></i>
                <i class="fa fa-youtube-play"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
        
            </div>
            <h4>Made with&nbsp;<i class="fa fa-heart"></i>&nbsp;By Salman Baloch </h4>
        </div>
    </div>
</div>

