 
        <div class="banner">
            <div class="text-box">
                <h1>World's Biggest University</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum modi officiis pariatur dolor</p>
                <p>asperiores Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <br> <a routerLink="/home" class="btn1">Visit Us to Know More</a>
            </div>
            
        </div> 

  
  

     <!----------Course-Section ---------->


 <div class="container">
    <div class="section1">
      <h1>Course We Offers</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
      <div class="row box text-center">
          <div class="box1 col-md-4 ">
              <h1>Intermidiate</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, doloremque porro voluptate
                  repudiandae unde voluptates. Asperiores voluptates doloribus est culpa!</p>
          </div>
          <div class="box1 col-md-4">
              <h1>Degree</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, doloremque porro voluptate
                  repudiandae unde voluptates. Asperiores voluptates doloribus est culpa!</p>
          </div>
          <div class="box1 col-md-4">
              <h1>Post Graduation</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, doloremque porro voluptate
                  repudiandae unde voluptates. Asperiores voluptates doloribus est culpa!</p>
          </div>
     
  </div>
    
</div> 

   <!----------Campus-Section ---------->
    <div class="container">
    <div class="campus-container">
        <h1>Campus-Section</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    </div>
    <div class="row">
            <div class="campus-box">
                <img src="../../../assets/Images/london.png" alt="">
                <div class="content">
                    <h1>Karachi Tower Image</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum obcaecati veritatis ipsa, explicabo
                        laboriosam alias libero temporibus quae repellendus dolorem.</p>
                        <div class="social-icon">
                            <i class="fa fa-facebook-official"></i>
                            <i class="fa fa-youtube-play"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-instagram"></i>
                
                        </div>
                </div>
            </div>
        
       
   
        <div class="campus-box">
            <img src="../../../assets/Images/newyork.png" alt="">
            <div class="content">
                <h1>Lahore Tower Image</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum obcaecati veritatis ipsa, explicabo
                    laboriosam alias libero temporibus quae repellendus dolorem.</p>
                    <div class="social-icon">
                        <i class="fa fa-facebook-official"></i>
                        <i class="fa fa-youtube-play"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
            
                    </div>
            </div>
        </div>
    
        <div class="campus-box">
            <img src="../../../assets/Images/washington.png" alt="" [width]="100">
            <div class="content">
                <h1>Bahawalpur Tower Image</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum obcaecati veritatis ipsa, explicabo
                    laboriosam alias libero temporibus quae repellendus dolorem.</p>
                    <div class="social-icon">
                        <i class="fa fa-facebook-official"></i>
                        <i class="fa fa-youtube-play"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
            
                    </div>
            </div>
        </div>
    </div>
</div> 
  <!----------Facilities-Section ---------->
  <div class="container">
    <div class="facilites">  
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container1">
                <div class="img1"></div>

                <h1>World Class Library</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis in fugit quia nam
                    consequatur.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container2">
                <div class="img2"></div>
                
                <h1>World Class Library</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis in fugit quia nam
                    consequatur.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container3">
                <div class="img3"></div>
              
                <h1>World Class Library</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veritatis in fugit quia nam
                    consequatur.</p>
                    
            </div>
        </div>
    </div>
    </div>  

 <!---------- Testmonial-Section ---------->

 <div class="testmonial">
    <h1>What Our Students Says</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="client">

        <!---------- Testmonial-Section (reviews-1)---------->
        
        <div class="row">
            <div class="col-lg-6">
                <div class="reviews1">
                    <div class="cl-img1"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum officiis animi
                        reiciendis libero cum fugiat obcaecati officia possimus atque. Odit non vero totam labore.</p>
                    <h3>Salman Baloch</h3>
                    <div class="icon">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
             <!---------- Testmonial-Section (reviews-2)---------->
            <div class="col-lg-6">
                <div class="reviews2">
                    <div class="cl-img2"></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas nostrum officiis animi
                        reiciendis libero cum fugiat obcaecati officia possimus atque. Odit non vero totam labore.</p>
                    <h3>Abdul-Rehman</h3>
                    <div class="icon">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        

  

   

